<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MINPRO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/projets" routerLinkActive="active">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="btn btn-sm btn-danger" href="javascript:void(0)" (click)="logout()" *ngIf="connected">
                        Deconnexion
                    </a>
                    <a class="btn btn-sm btn-primary ms-3" href="javascript:void(0)" *ngIf="connected">
                        {{ user?.name }} {{ user?.firstname }}
                    </a>
                    <a class="btn btn-sm btn-primary ms-3" href="/auth" *ngIf="!connected">
                        Connexion
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>